@model IEnumerable<PizzaHub.Core.ViewModels.MenuItem.MenuItemViewModel>
@{
    ViewBag.Title = "View of the Menu";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var i in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">
                <img class="card-img-top" style="width: 18rem;" src="@i.ImageUrl" alt="Pizza Image">
                <h5 class="card-title mt-1">@i.Name</h5>
                <h7 class="card-title mt-1">@i.Ingredients</h7>
                <h5 class="card-title mt-1">$@i.Price</h5>
            </div>
            <form asp-area= "Admin"asp-controller="Admin" asp-action="EditMenuItem" method="get" class="mb-2">
                <input type="hidden" name="id" value="@i.Id" />
                
                <button type="submit" class="btn btn-warning mt-2 w-100 p-3 fw-bold">Edit</button>
            </form>
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}