@model IEnumerable<PizzaHub.Core.ViewModels.Order.ShowOrderViewModel>

@{
    ViewData["Title"] = "All Orders";

    string GetStatusColor(string status)
    {
        switch (status.ToLower())
        {
            case "pending":
                return "orange";
            case "in progress":
                return "#add8e6";
            case "out for delivery":
                return "yellow";
            case "delivered":
                return "green";
            case "canceled":
                return "gray";
            default:
                return "";
        }
    }
}

<h1>All Orders</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Order ID</th>
        <th>Restaurant</th>
        <th>Status</th>
        <th>Amount</th>
        <th>Created On</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var order in Model)
    {
        <tr>
            <td>@order.Id</td>
            <td>@order.Restaurant</td>
                <td style="background-color: @GetStatusColor(order.Status)">@order.Status</td>
            <td>@order.Amount</td>
            <td>@order.CreatedOn</td>
        </tr>
    }
    </tbody>
</table>