@model ICollection<PizzaHub.Core.ViewModels.Cart.CartItemViewModel>
@{
    decimal totalSum = 0;
    foreach (var item in Model)
    {
        totalSum += item.Price * item.Quantity;
    }
}

<div class="container mt-5">
    <h2>Your Cart</h2>

    @if (Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>$@item.Price</td>
                    <td>
                        <span id="quantity_@item.ItemId">@item.Quantity</span>
                        <form asp-controller="Cart" asp-action="UpdateQuantity" method="post" class="d-inline">
                            <input type="hidden" name="itemId" value="@item.ItemId" />
                            <input type="hidden" name="newQuantity" value="@(item.Quantity - 1)" />
                            <button type="submit" class="btn btn-sm btn-primary" @(item.Quantity == 1 ? "disabled" : "")>-</button>
                        </form>
                        <form asp-controller="Cart" asp-action="UpdateQuantity" method="post" class="d-inline">
                            <input type="hidden" name="itemId" value="@item.ItemId" />
                            <input type="hidden" name="newQuantity" value="@(item.Quantity + 1)" />
                            <button type="submit" class="btn btn-sm btn-primary">+</button>
                        </form>
                        <form asp-controller="Cart" asp-action="DeleteFromCart" method="post" class="d-inline">
                            <input type="hidden" name="itemId" value="@item.ItemId" />
                            <button type="submit" class="btn btn-sm btn-danger delete-button" style="margin-left: 10px;">
                                <i class="fas fa-times"></i>
                            </button>
                        </form>
                    </td>
                    <td>$@(item.Price * item.Quantity)</td>
                </tr>
            }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3"><strong>Total:</strong></td>
                    <td><strong >$@totalSum</strong></td>
                </tr>
            </tfoot>
        </table>

        <form asp-controller="Order" asp-action="Checkout" method="get">
            <button type="submit" class="btn btn-primary">Go to Checkout</button>
        </form>
    }
    else
    {
        <p>Your cart is empty.</p>
    }
</div>