@model ICollection<PizzaHub.Core.ViewModels.Cart.CartItemViewModel>
@{
    decimal totalSum = 0;
    foreach (var item in Model)
    {
        totalSum += item.Price * item.Quantity;
    }
}

<div class="container mt-5">
    <h2>Your Cart</h2>

    <div class="row justify-content-end">
        <div class="col-md-6 text-end">
            <form asp-controller="Customer" asp-action="ShowOrders" method="get">
                <button type="submit" class="btn btn-info">View Past Orders</button>
            </form>
        </div>
    </div>

    @if (Model.Any())
    {
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>$@item.Price</td>
                    <td>
                        <span id="quantity_@item.ItemId">@item.Quantity</span>

                        <button id="decreaseButton_@item.ItemId" onclick="decreaseQuantity('@item.ItemId')" class="btn btn-sm btn-primary" @(item.Quantity == 1 ? "disabled" : "")>-</button>
                        <button onclick="increaseQuantity('@item.ItemId')" class="btn btn-sm btn-primary">+</button>

                            <input type="hidden" name="itemId" value="@item.ItemId" />
                            <button type="submit" class="btn btn-sm btn-danger delete-button" style="margin-left: 10px;">
                                <i class="fas fa-times"></i>
                            </button>
                            
                    </td>
                    <td id="itemSum_@item.ItemId">$@(item.Price * item.Quantity)</td>
                </tr>
            }
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3"><strong>Total:</strong></td>
                <td><strong id="totalSum">$@totalSum</strong></td>
            </tr>
            </tfoot>
        </table>

        <form asp-controller="Order" asp-action="Checkout" method="get">
            <button type="submit" class="btn btn-primary">Go to Checkout</button>
        </form>
    }
    else
    {
        <p>Your cart is empty.</p>
    }

</div>

<script>
    function increaseQuantity(itemId) {
        var quantityElement = document.getElementById('quantity_' + itemId);
        var quantity = parseInt(quantityElement.textContent);
        quantity++;
        quantityElement.textContent = quantity;

        increaseItemSum(itemId, quantity);

        // Enable the "-" button
        var decreaseButton = document.getElementById('decreaseButton_' + itemId);
        decreaseButton.removeAttribute('disabled');
        decreaseButton.classList.remove('disabled');
    }
</script>
<script>
    function increaseItemSum(itemId) { 
        $.ajax({
            url: "https://localhost:7221/api/cart/increase",
            type:"GET",
            data: {itemId},
            success: function (response) { 
                $("#totalSum").text(response.totalSum);
                $("#itemSum_" + itemId).text(response.itemSum);
            },
            error: function (response) {
            }
        })
    }
</script>

<script>
    function decreaseQuantity(itemId) {
        var quantityElement = document.getElementById('quantity_' + itemId);
        var quantity = parseInt(quantityElement.textContent);
        if (quantity > 1) {
            quantity--;
            quantityElement.textContent = quantity;
            decreaseItemSum(itemId, quantity);
        }

        // Disable the "-" button if quantity is 1
        var decreaseButton = document.getElementById('decreaseButton_' + itemId);
        if (quantity === 1) {
            decreaseButton.setAttribute('disabled', 'disabled');
            decreaseButton.classList.add('disabled');
        }
    }
</script>
<script>
    function decreaseItemSum(itemId) {
        $.ajax({
            url: "https://localhost:7221/api/cart/decrease",
            type:"GET",
            data: {itemId},
            success: function (response) { 
                $("#totalSum").text(response.totalSum);
                $("#itemSum_" + itemId).text(response.itemSum);
            },
            error: function (response) {
            }
        })
    }
</script>