@model PizzaHub.Core.ViewModels.Order.DetailedOrderViewModel

<h2>Order Details</h2>

<table class="table">
    <tbody>
        <tr>
            <th>Order ID:</th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th>Created On:</th>
            <td>@Model.CreatedOn</td>
        </tr>
        <tr>
            <th>Restaurant:</th>
            <td>@Model.Restaurant</td>
        </tr>
        <tr>
            <th>Customer:</th>
            <td>@Model.Customer</td>
        </tr>
        <tr>
            <th>Address:</th>
            <td>@Model.Address</td>
        </tr>
        <tr>
            <th>Status:</th>
            <td style="background-color: #FAFC43; font-weight: bold;">@Model.Status</td>
        </tr>
        
    <tr>
        <th>Order Items:</th>
        <td>
            <ul>
                @foreach (var item in Model.OrderItems)
                {
                    <li>@item.Name x @item.Quantity</li>
                }
            </ul>
        </td>
    </tr>
    <tr>
        <th>Amount:</th>
            <td><strong>$@Model.Amount</strong></td>
    </tr>
    </tbody>
</table>

<div style="display: inline-block;">
    <form asp-action="MarkOnAddress" asp-route-orderId="@Model.Id">
        <button type="submit" class="btn btn-primary btn-lg">
            <i class="fas fa-map-marker-alt"></i> Mark On Address
        </button>
    </form>
</div>

<div style="display: inline-block; margin-left: 10px;">
    <form asp-action="MarkOrderDelivered" asp-route-orderId="@Model.Id">
        <button type="submit" class="btn btn-success btn-lg">
            <i class="fas fa-check-circle"></i> Order Delivered
        </button>
    </form>
</div>