@model PizzaHub.Core.ViewModels.Order.AllOrdersViewModel

@{
    ViewData["Title"] = "Orders Menu";

    string GetStatusColor(string status)
    {
        switch (status.ToLower())
        {
            case "pending":
                return "orange"; // orange
            case "in progress":
                return "#14D1D1"; // sky blue
            case "out for delivery":
                return "#FAFC43"; // yellow
            case "delivered":
                return "#7CFC00"; //green
            case "canceled":
                return "gray"; // gray
            default:
                return "";
        }
    }
}

<h2>Orders Menu</h2>

<form asp-area="Admin" asp-controller="Order" asp-action="ShowAllOrders" method="get">
    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="Status"></label>
            <select asp-for="Status" class="form-control">
                <option value="">All</option>
                @foreach (var status in Model.Statuses)
                {
                    <option value="@status">@status</option>
                }
            </select>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="FilterDays"></label>
            <select asp-for="FilterDays" class="form-control">
                <option value="1">Today</option>
                <option value="2">Last 2 Days</option>
                <option value="7">1 Week</option>
                <option value="30">1 Month</option>
                <option value="0">All</option>
            </select>
        </div>
        <div class="form-group col-md-6 d-flex align-items-end justify-content-end">
            <button type="submit" class="btn btn-primary">Show Orders</button>
        </div>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Status</th>
            <th>Created On</th>
            <th>Restaurant</th>
            <th>Customer</th>
            <th>Address</th>
            <th>Order Items</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders)
        {
            <tr>
                <td>@order.Id</td>
                <td style="background-color: @GetStatusColor(order.Status) ">
                    <strong>@order.Status</strong>
                </td>
                <td>@order.CreatedOn</td>
                <td>@order.Restaurant</td>
                <td>@order.Customer</td>
                <td>@order.Address</td>
                <td>
                    @foreach (var item in order.OrderItems)
                    {
                        <li>@item.Name x @item.Quantity</li>
                        
                    }
                </td>
                <td><strong>$@order.Amount</strong></td>
            </tr>
        }
    </tbody>
</table>

@{
    var maxPage = Math.Ceiling((double)Model.TotalOrders / Model.OrdersPerPage);
    var shouldButtonBeDisabled = Model.CurrentPage == maxPage || !Model.Orders.Any() || Model.TotalOrders == 10;
}

<div class="row mb-5">
    <div class="col-md-4 d-grid gap-2 d-md-flex justify-content-md-start">
        @{
            var previousPage = Model.CurrentPage - 1;
            if (previousPage < 1)
            {
                previousPage = 1;
            }
        }
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-area="Admin"
           asp-controller="Admin"
           asp-action="ShowAllOrders"
           asp-route-currentPage="@previousPage"
           asp-route-status="@Model.Status"
           asp-route-filterDays="@Model.FilterDays">Previous</a>
    </div>

    <div class="col-md-4 d-grid gap-2 d-md-flex justify-content-md-center align-items-center">
    </div>

    <div class="col-md-4 d-grid gap-2 d-md-flex justify-content-md-end">
        @{
            var nextPage = Model.CurrentPage + 1;
        }
        <a class="btn btn-primary @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
           asp-area="Admin"
           asp-controller="Admin"
           asp-action="ShowAllOrders"
           asp-route-currentPage="@nextPage"
           asp-route-status="@Model.Status"
           asp-route-filterDays="@Model.FilterDays">Next</a>
    </div>
</div>
