@using static PizzaHub.Infrastructure.Constants.MessageConstants
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/courier.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-yellow border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="Courier" asp-controller="Courier" asp-action="Index">PizzaHub Couriers</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenu" role="button" aria-haspopup="true" aria-expanded="false">
                                Deliveries
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenu">
                                <a class="dropdown-item" asp-area="Courier" asp-controller="Order" asp-action="ShowTodayDelivered">Show Today's Delivered</a>
                                <a class="dropdown-item" asp-area="Courier" asp-controller="Courier" asp-action="StopForToday">Stop for Today</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownOrders" role="button" aria-haspopup="true" aria-expanded="false">
                                Orders
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownOrders">
                                <a class="dropdown-item" asp-area="Courier" asp-controller="Order" asp-action="PickOrders">Pick Order</a>
                                <a class="dropdown-item" asp-area="Courier" asp-controller="Order" asp-action="ShowPickedOrders">Your Picked Orders</a>
                            </div>
                        </li>
                    </ul>
                    <partial name="_CourierPartial" />
                </div>

            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted fixed-bottom">
        <div class="container">
            &copy; @DateTime.Now.Year - PizzaHub
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @if (TempData[SuccessMessages.UserMessageSuccess] != null)
    {
        <script defer>
            message.showSuccess('@TempData[SuccessMessages.UserMessageSuccess]');
            </script>
    }
    @if (TempData[ErrorMessages.UserMessageError] != null)
    {
        <script defer>
            message.showError('@TempData[ErrorMessages.UserMessageError]');
            </script>
    }
</body>
</html>